{% extends "base.html" %}
{% block title %} 403 Forbidden | FullStack Developer Test App{% endblock %}
{% block Bodyclass %} "Forbidden" {% endblock %}
{% block content %} 
	<div class="pg-content-background">
		<div class="container se-text-center-content">
			<i class="fas fa-frown-open screen-error-icon white-text"></i>
			<h1 class="alert-title anton-text white-text">403</h1>
			<h1 class="alert-title anton-text white-text">¡Fuera de aquí!, no tienes permisos para accesar a esta página.</h1>
			<a href="http://localhost:2000" class="anton-text white-text">Haz clic aquí.</a>
		</div>
	</div>
{% endblock %}