{% extends "base.html" %}
{% block title %} 404 Not Found | FullStack Developer Test App {% endblock %}
{% block Bodyclass %} "NotFound" {% endblock %}
{% block content %} 	
	<div class="md-content-background">
		<div class="container se-text-center-content">
			<i class="fas fa-frown-open screen-error-icon white-text"></i>
			<h1 class="alert-title anton-text white-text">No hemos encontrado lo que estabas buscando.</h1>
			<a href="http://localhost:2000" class="anton-text white-text">Haz clic aquí.</a>
		</div>
	</div>
{% endblock %}