{% extends "./base.html" %}
{% block title %} Change password | Página principal  {% endblock %}
{% block content %}
<div class="md-content-background">
	<div class="container">
			<div class="sc-login">
				<input type="text" id="ltoken" value="{{ link }}" hidden>
				<label for="email" autocomplete="off" class="form-label anton-text black-text">Contraseña</label>
        <input class="form-control mb-4 frm-textfield oswald-text" type="password" id="password" placeholder="Ingresa tu contraseña...">
				<label for="email" autocomplete="off" class="form-label anton-text black-text">Confirmación</label>
        <input class="form-control mb-4 frm-textfield oswald-text" type="password" id="confirm" placeholder="Confirmación de contraseña...">

        <button type="button" id="btn-change-password" class="w-100 btn btn-outline-dark no-border anton-text btn-login">Cambiar contraseña</button>
			</div>	
	</div>
</div>
{% endblock %}