{% extends "./base.html" %}
{% block title %} Dasboard | Página principal  {% endblock %}
{% block content %}
<div class="home-container">
	<nav class="navbar navbar-light nv-color shadow-md">
	  <div class="container">
	    <a class="navbar-brand" href="#">FullStack Developer Test</a>
  		<ul class="navbar-nav mr-auto">
				<li><a class="dropdown-item" id="lock-sess" href="/" onclick="window.localStorage.removeItem('_token')">Cerrar Sesión</a></li>
  		</ul>
	  </div>
	</nav>

	<div class="container mt-5">
			<div class="dsh-container-option">
				<div class="row">
						<div class="col-md-6">
							<a href="/users" class="dhs-link">
								<div class="option-container text-center">
									<i class="fas fa-users icon-dsh-title white-text"></i>
									<h3 class="anton-text white-text mt-4">Administración de usuarios</h3>
								</div>
							</a>
						</div>
						<div class="col-md-6">
							<a href="/products" class="dhs-link">
								<div class="option-container text-center">
									<i class="fas fa-users icon-dsh-title white-text"></i>
									<h3 class="anton-text white-text mt-4">Administración de productos</h3>
								</div>
							</a>
						</div>
				</div>
			</div>
	</div>
</div>
{% endblock %}