{% extends "./base.html" %}
{% block title %} Home | Página principal  {% endblock %}
{% block content %}
<div class="md-content-background">
	<div class="container">
			<div class="sc-login">
				<h3 class="anton-text text-center mb-3">Inicio de sesión</h3>
				<label for="email" autocomplete="off" class="form-label anton-text black-text">Email</label>
        <input class="form-control mb-4 frm-textfield oswald-text" type="text" id="email" placeholder="Ingresa tu correo electrónico...">

				<label for="password" class="form-label anton-text black-text">Contraseña</label>
        <input class="form-control mb-4 frm-textfield oswald-text" type="password" id="password" placeholder="Ingresa tu contraseña...">

        <button type="button" id="btn-login" class="w-100 btn btn-outline-dark no-border anton-text btn-login">Iniciar sesión</button>
        <div class="text-center mt-3">
        	<a href="/reset-password" class="f-password">¿Olvidaste tu contraseña?</a>
        </div>
			</div>	
	</div>
</div>
{% endblock %}