<div style="margin: 20px;">
	<!-- Body -->
	<div class="reset-password-container" style="max-width: 75%; height: auto; margin: 0 auto; border: 1px solid #59abe3;">
		<div class="mail-header" style="background: #59abe3; text-align: center; padding: 25px 25px">
			<div style="margin-top: 10px;">
				<p style="font-family: 'Roboto', sans-serif; font-size: 12pt; font-weight: 500; color: #FFFFFF; margin: 5px;">¿Deseas restablecer tu contraseña?</p>
				<p style="font-family: 'Roboto', sans-serif; font-size: 9pt; font-weight: 500; color: #FFFFFF; margin: 5px;">FSDTAPP</p>
			</div>
		</div>
		<div class="mail-body" style="background: #ffffff; text-align: justify; padding: 25px 25px;">
			<div style="margin-top: 5%;">
				<p style="font-family: 'Roboto', sans-serif; font-size: 12pt; font-weight: 500; color: #59abe3;">Se ha detectado que el usuario <strong>(%username%)</strong> ha solicitado restablecer su contraseña. Para iniciar el proceso de recuperación de contraseña usted deberá de cambiar su contraseña en la dirección asignada: <a href="(%link%)">Click Aquí</a> La dirección será válida en los próximos 15 minutos.</p>
			</div>
		</div>
	</div>
	<!-- Body -->
</div>