{% extends "./base.html" %}
{% block title %} Reset rassword | Página principal  {% endblock %}
{% block content %}
<div class="md-content-background">
	<div class="container">
			<div class="sc-login">
				<p class="roboto-text black-text">Para continuar con el proceso de cambio de contrasña debes de ingresar tu correo electrónico y dar click en el botón.</p>
				<label for="email" autocomplete="off" class="form-label anton-text black-text">Email</label>
        <input class="form-control mb-4 frm-textfield oswald-text" type="text" id="email" placeholder="Ingresa tu correo electrónico...">

        <button type="button" id="btn-change-password" class="w-100 btn btn-outline-dark no-border anton-text btn-login">Cambiar contraseña</button>
	</div>
</div>
{% endblock %}