{% extends "./base.html" %}
{% block title %} Users | Página principal  {% endblock %}
{% block content %}
<div class="home-container">
	<nav class="navbar navbar-light nv-color shadow-md">
	  <div class="container">
	    <a class="navbar-brand" href="#">FullStack Developer Test</a>
  		<ul class="navbar-nav mr-auto">
				<li><a class="dropdown-item" id="lock-sess" href="/" onclick="window.localStorage.removeItem('_token')">Cerrar Sesión</a></li>
  		</ul>
	  </div>
	</nav>

	<div class="container">
			<input type="text" id="user-id" value="{{ id }}" hidden />
			<div class="row">
				<div class="col-md-6 mt-5">			
					<button type="button" class="btn btn-outline-dark"><a href="/users" class="dhs-link"><i class="fas fa-undo-alt mr-2"></i> Regresar</a></button>			
					<button type="button" class="btn btn-outline-dark" id="save">Guardar</button>
				</div>
				<div class="col-md-6"></div>	
			</div>

			<div class="form-control mt-3 p-5">
				<div class="row">
					<div class="col-md-6">
						<label for="name" autocomplete="off" class="form-label anton-text black-text">Nombre completo</label>
       		 	<input class="form-control mb-4 frm-textfield oswald-text" type="text" id="fullname" placeholder="Ingresa tu nombre completo...">

						<label for="name" autocomplete="off" class="form-label anton-text black-text">Fecha de nacimiento</label>
       		 	<input class="form-control mb-4 frm-textfield oswald-text" type="date" id="birthdate" placeholder="Ingresa tu correo electrónico...">

						<label for="password" autocomplete="off" class="form-label anton-text black-text">Contraseña</label>
       		 	<input class="form-control mb-4 frm-textfield oswald-text" type="password" id="password" placeholder="Ingresa tu contraseña...">
					</div>
					<div class="col-md-6">
						<label for="email" autocomplete="off" class="form-label anton-text black-text">Correo electrónico</label>
        		<input class="form-control mb-4 frm-textfield oswald-text" type="text" id="email" placeholder="Ingresa tu correo electrónico...">

        		<label for="password" autocomplete="off" class="form-label anton-text black-text">Confirmación</label>
       		 	<input class="form-control mb-4 frm-textfield oswald-text" type="password" id="confirm" placeholder="Ingresa tu confirmación...">
					</div>
				</div>
			</div>
	</div>
</div>
{% endblock %}