* {
	margin: 0;
	padding: 0;
}

.md-content-background {
	width: 100%;
	height: 100vh;
	background: #eeeeee;
	position: absolute;
}

.pg-content-background {
	width: 100%;
	height: 100vh;
	background: #c0392b;
}

.se-text-center-content {
	padding: 12% 15%;
	text-align: center;
}

.screen-error-icon {
	font-size: 8em;
	margin-bottom: 5%;
}

/* ------ layout ----- */

.no-border {
	border-radius: 0;
}

/* ------ colors ----- */

.white-text {
	color: #FFFFFF;
}

.black-text {
	color: #222222;
}

.alert-title {
	font-size: 2rem;
}

/* ------ fonts ------ */

.anton-text {
	font-family: 'Anton', sans-serif;
}

.oswald-text {
	font-family: 'Oswald', sans-serif;
}

.roboto-text {
	font-family: 'Roboto', sans-serif;
}

/* ------ Login ------- */
.sc-login {
	width: 35%;
	margin: 10% auto;
	padding: 25px 25px;
	background: #ffffff;
}

.frm-textfield {
	border-radius: 0;
	border: 1px solid #222222;
	background: #ffffff;
}

.btn-login {
	font-size: 15pt;
}

.f-password {
	width: 100%;
	text-align: center;
	font-size: 12pt;
}

/* ------ Dashboard ----- */
.nv-color {
	background: #233df9;
	padding: 15px 15px;
}

.dhs-link {
	text-decoration: none;
}

.icon-dsh-title {
	font-size: 4em;
}

.navbar-brand {
	color: #ffffff !important;
}

.font-menu {
	font-size: 15pt;
	color: #ffffff;
}

.check-user {
	font-size: 20pt;
	margin-left: 15px;
	margin-top: 10px;
}

.ichecked {
	margin-top: 10px;
}

.check-user-input {
	font-size: 15pt;
	margin-left: 10px;
	margin-top: 15px;
}

.option-container {
	border-radius: 10px;
	padding: 25px 15px;
	background: #7f8c8d;
}

.option-container:hover {
	background: #233df9;
}

.dsh-container-option {
	width: 55%;
	margin: 10% auto;
	padding: 15px 15px;
}

.usr-table-container {
	margin: 2% auto;
	padding: 15px 15px;
}

.img-product {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
}